<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <body>
        <header>
            <h1>Crie Sua lista de Tarefa</h1>
        </header>
        <main>
            <form action="/add-task">
                <button type="submit" class="add-task">
                    Adicionar item à lista de tarefas
                </button>
            </form>
            <form action="see-task">
            <button class="see-task" type="submit">
                Ver Tarefas
            </button>
        </form>
        </main>
    </body>
    </html>