<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <body>
        <header>
            <h1>Crie Sua lista de Tarefa</h1>
        </header>
        <main>
                <button class="add-task">
                    <a href="add-task.html" >Adicionar item à lista de tarefas</a>
                </button>
                <br>
            <button class="see-task" >
                <a href= "see-task.html">Ver Tarefas</a>
            </button>
        </form>
        </main>
    </body>
    </html>